*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav
{
height: 80px;
width: 100%;
display: flex;
cursor: pointer;
align-items: center;
justify-content: space-between;
padding: 40px;
font-size: 15px;
font-family: apple;
font-weight: 100;
}
#nav img
{
    height: 70px;
    width: 90px;
}
#nav-part1
{
    display: flex;
    align-items: center;
    margin-right: 27%;
    gap: 40px;
}
#nav-part1 h4:hover
{
font-size: 19px;
color: lightcoral;
}
#nav-part2 button
{
padding:15px;
border-radius: 5px;
border: none;
gap: 20px;
}
#y{
    background-color: #333;
    color: #fff;
    margin-left: 25px;
}
#y:hover
{
    background-color: #fff;
    color: blue;
}
#x
{
    color: black;
}
#x:hover
{
    background-color: aquamarine;
}

#center
{
    height: 85%;
    width: 100%;
    
}
 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center #overlay{
    height: 85%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    position: absolute;
    top: 13%;
    
}

#overlay #elem1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 130px;
    width: 100%;
    
}

#elem1 h5{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.648);
    padding: 14px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-top: 20px;
}
#elem1 h5:hover{
    background-color: white;
    color: black;
}

#overlay h2{
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

#overlay p{
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
}

#overlay input{
    width: 40%;
    padding: 20px 20px;
    border-radius: 50px;
    border: none;
    margin-left: 30%;
    margin-top: 25px;
}
#center h6
{
color: white;
margin-left: 250px;
margin-top: 45px;
font-size: 16px;
font-weight: 100;
}
#btn
{
     display: flex;
    margin-left: 400px;
    margin-top: -20px;
    gap: 30px;
    align-items: center;
}

button
{
    background-color: transparent;
    border-radius: 50px;
    color: #ffffff;
    padding: 4px;
    background-color: transparent;
    border: solid#ffffff;
}
#page2
{
    padding: 20px 20px;
}
.box
{
    width: 320px;
    height: 250px;
    background-color: salmon;
    position: relative;
    display: inline-block;
    margin: 20px 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1).7s;
}
.box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.box .boxtext
{
    position: absolute;
    bottom: -40%;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.884));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.boxtext h4
{
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.boxtext i 
{
    background-color: #fff;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.box:hover .boxtext
{
    bottom: 0;
    transition: all ease 1s;
}
 #b button
{
    background-color: rgb(186, 58, 79);
    position: absolute;
    left: 40%;
    padding: 15px;
    
}
 #b button:hover
{
    background-color: #fff;
    color: black;
}
#e h3
{
    margin-left: 55%;
    margin-top: 1%;
    font-weight: 100;
}
#page3
{
    width: 100%;
    height: 100%;
    background-color: #f7f8f8;
    position: relative;
    margin-top: 25px;
}

















